@font-face {
	font-family: 'Formular';
	src: url("vendor/fonts/Formular.eot");
	src: url("vendor/fonts/Formular.eot?#iefix") format('embedded-opentype'), url("vendor/fonts/Formular.woff") format('woff'), url("vendor/fonts/Formular.ttf") format('truetype');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'Formular';
	src: url("vendor/fonts/Formular-Medium.eot");
	src: url("vendor/fonts/Formular-Medium.eot?#iefix") format('embedded-opentype'), url("vendor/fonts/Formular-Medium.woff") format('woff'), url("vendor/fonts/Formular-Medium.ttf") format('truetype');
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Formular';
	src: url("vendor/fonts/Formular-Bold.eot");
	src: url("vendor/fonts/Formular-Bold.eot?#iefix") format('embedded-opentype'), url("vendor/fonts/Formular-Bold.woff") format('woff'), url("vendor/fonts/Formular-Bold.ttf") format('truetype');
	font-weight: bold;
	font-style: normal;
}
* {
	box-sizing: border-box;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
	-webkit-appearance: none;
}
:-ms-input-placeholder,
::-ms-input-placeholder,
::placeholder {
	color: #444854;
	font-family: "Formular", sans-serif;
}
body {
	font-size: 14px;
	font-family: "Formular", sans-serif;
	color: #666C7E;
	font-weight: 400;
	background: #242227;
}
ol,
ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}
a {
	text-decoration: none;
	color: #666C7E;
}
a:hover {
	text-decoration: none;
	color: #eee;
}
.wrap {
	position: relative;
	overflow: hidden;
	z-index: 111;
}
.container {
	max-width: 1184px;
	margin: 0 auto;
	width: 100%;
}
.bold {
	font-weight: 500;
}
.content_block {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: inherit;
}
.lg-1 {
	width: calc(33.3333% - 16px);
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 calc(33.3333% - 16px);
  -ms-flex: 1 1 calc(33.3333% - 16px);
  flex: 1 1 calc(33.3333% - 16px);
}
.lg-2 {
	width: calc(66.6666% - 16px);
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 calc(66.6666% - 16px);
  -ms-flex: 1 1 calc(66.6666% - 16px);
  flex: 1 1 calc(66.6666% - 16px);
}
.column {
	display: flex;
	flex-direction: column;
}
.title {
	font-size: 14px;
	font-weight: 400;
	color: #666C7E;
}
.title:hover {
	color: #eee;
}
/* header */
.header {
	border-bottom: 1px solid #25272E;
}
.header_inner {
	display: flex;
	flex-direction: row;
}
.header_logo a {
	display: flex;
	flex-direction: row;
}
.header_logo a h1 {
	font-weight: bold;
	font-size: 24px;
}
.header_logo a {
	display: flex;
	align-items: center;
	position: relative;
}
.header_logo a h1 {
	position: relative;
	padding-right: 32px;
}
.header_logo a h1::after {
	content: '';
	display: flex;
	height: 26px;
	width: 1px;
	background: #373C48;
	position: absolute;
	right: 16px;
	top: 3px;
}
.header_logo__desc span {
	padding-top: 4px;
	display: flex;
}
.header_menu {
	display: flex;
	align-items: center;
}
.header_menu ul {
	display: flex;
	flex-direction: row;
	margin-left: -15px;
	margin-right: -15px;
}
.header_menu ul li {
	padding-left: 15px;
	padding-right: 15px;
}
.header_menu ul li a {
	font-weight: 500;
	position: relative;
}
.header_menu ul li.active a, .header_login__inner span {
	color: #8FCB2F;
}
.header_login__img {
	padding-top: 5px;
	padding-right: 6px;
}
.header_menu ul li.active a::after {
  content: '';
  display: flex;
  border-bottom: 2px solid #8FCB2F;
  position: absolute;
  bottom: -22px;
  left: 0;
  width: 100%;
}
.header_login {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.header_login a {
	display: flex;
	align-items: center;
	padding-left: 16px;
}
.content {
	padding: 16px;
}
.block {
	background: #14161C;
	border-radius: 20px;
	padding: 16px;
	margin-bottom: 16px;
}
.main_inner {
	padding-top: 40px;
}
.main_content {
	padding-top: 32px;
}
.promo_title {
	padding-top: 10px;
	padding-bottom: 20px;
	display: flex;
}
.search {
	position: relative;
}
.search input[type="search"] {
	padding: 14px 24px;
	background: #21242C;
	border-radius: 25px;
	border: none;
	width: 100%;
	color: #666C7E;
	outline: none;
	font-size: 16px;
}
.search input[type="submit"] {
  position: absolute;
  right: 16px;
  top: 7px;
  background-image: url(img/loop.png);
  background-position: center;
  background-repeat: no-repeat;
  width: 30px;
  height: 30px;
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.main_left {
	padding-right: 16px;
}
.main_right {
	padding-left: 16px;
}
.main_center {
	padding-left: 16px;
	padding-right: 16px;
}
.search input[type="search"]::placeholder {
	font-size: 16px;
	color: #444854;
}
.promo_next {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
}
.news_content_top {
	display: flex;
	flex-direction: row;
}
.promo_block_top__desc h3 {
	margin: 0;
	font-weight: 500;
	font-size: 14px;
	color: #474A53;
	padding-bottom: 6px;
}
.promo_block_top__desc span {
	margin: 0;
	font-weight: 500;
	font-size: 12px;
	color: #474A53;
}
.promo_block_top__desc:hover h3, .promo_block_top__desc:hover span {
	color: #eee;
}
.promo_block_top {
	display: flex;
	flex-direction: row;
}
.promo_block_top__desc {
	padding-left: 16px;
}
.promo_block_center {
	padding-bottom: 16px;
}
.promo_block_center:hover h2 {
	color: #eee;
}
.promo_block_center h2 {
	font-weight: 500;
	font-size: 16px;
	color: #666C7E;
	margin-top: 12px;
	margin-bottom: 6px;
}
.promo_block_bottom {
	font-size: 12px;
	color: #474A53;
}
.promo_block_bottom span {
	padding-right: 16px;
}
.news_content_top__desc {
	padding-left: 16px;
}
.news_meta span {
	padding-left: 6px;
}
